<div class="row">
  <!-- <div class="col-sm-12 col-md-4"></div> -->
  <div class="col-md-offset-4 col-sm-12 col-md-4 form-style new-startup-form">
    <h1 class="add-startup">New Startup</h1>

    <%= render 'form', startup: @startup %>

    <%= link_to 'Back', startups_path %>
  </div>
  <!-- <div class="col-sm-12 col-md-4"></div> -->
</div>
