<div class="row">
	<div class="col-xs-12 col-md-6" id="sidebar">
		<!--Description-->
		<h1 id="title">SoFla StartUp Ecosystem</h1>
		<p class="lead">We'll help you locate and get information about South Florida Startups, Investors and all components of the ecosystem. PLease select the filters of the information you would like us to display and press Search...</p>


		<!--Filters-->
		<div class="row">
			<!--Startup Filters-->
			<div class="col-sm-6 vertical-line">
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Startups
				  </label>
				</div>
				<h4>Industry Vertical:</h4>
				<select class="form-control">
				  <option>Vertical 1</option>
				  <option>Vertical 2</option>
				  <option>Vertical 3</option>
				  <option>Vertical 4</option>
				  <option>Vertical 5</option>
					<option>All</option>
				</select>
				<hr>
				<h4>Stage:</h4>
				<select class="form-control">
				  <option>Stage 1</option>
				  <option>Stage 2</option>
				  <option>Stage 3</option>
				  <option>Stage 4</option>
				  <option>Stage 5</option>
					<option>All</option>
				</select>
			</div>
			<!--Investor Filters-->
			<div class="col-sm-6">
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Investors
				  </label>
				</div>
				<h4>Industry Vertical:</h4>
				<select class="form-control">
				  <option>Vertical 1</option>
				  <option>Vertical 1</option>
				  <option>Vertical 3</option>
				  <option>Vertical 4</option>
				  <option>Vertical 5</option>
					<option>All</option>
				</select>
				<hr>
				<h4>Investor Type:</h4>
				<select class="form-control">
				  <option>Angel Investor</option>
				  <option>Venture Capitalist</option>
				  <option>Peer-to-Peer Lending</option>
				  <option>All</option>
				</select>
			</div>
			<!--Searchbox-->
			<div class="col-sm-12 centered">
			<h1>Search</h1>
			<%= form_tag("/search", method: "get") do %>
  			<%= search_field_tag :term %>
  			<%= submit_tag "Go!" %>
			<% end %>
			<%= params[:term] %>
			</div>
		</div>
	</div>

	<!-- an empty div for the map -->

	<div class="col-xs-12 col-md-6">
		<div id="map-canvas"></div>
	</div>

</div>
