<div class="row">
  <div class="col-md-offset-4 col-md-4 form-style new-investor-form">
  <h1 class="add-investor">Add Investor</h1>

  <%= render 'form', investor: @investor %>

  <%= link_to 'Back', investors_path %>
  </div>
</div>
