/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, main, #main-container, #page-index-row, #map-data, #map-canvas { height: 100% }


html body {
 	background: #000 url("/assets/skyline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif !important;
  /*background: url("skyline2.jpeg") no-repeat fixed center;*/
}

#logo {
  font-size: 2em;
  margin: auto 0;
}

#nav {
  background-color: #000;
}

#nav ul {
  float: right;
  padding: 20px;
  margin: 0px 0;
}

ul.nav li.nav-links {
  margin-top: 20px;
}

ul.nav li.nav-links a {
  display: inline;
  font-size: 1.2em;
  color: #5b04ff;
  letter-spacing: 1px;
  margin: 5px;
}

ul.nav li.nav-links a:hover {
  background-color:transparent;
  border-bottom: 2px solid #5b04ff;
}

.purple-button {
	background-color: transparent;
	color: #5b04ff;
  border: 2px solid #5b04ff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 1.2em;
	padding: 10px 20px;
	letter-spacing: 1px;
	margin: 8px;
  border-radius: 20px;
}

.purple-button:visited {
  background-color: transparent !important;
}

.white-font {
	color: #fff;
}

.space {
  margin: 100px 20px;
}

footer {
  background-color: black;
}
