/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, main, .row, .container-fluid, .col-md-8, #map-canvas { height: 100% }


html body {
 	background-image: url("skyline.jpg");
  font-family: 'Roboto', sans-serif !important;
  /*background: url("skyline2.jpeg") no-repeat fixed center;*/
}

#logo {
  font-size: 2em;
  margin: auto 0;
}

.form-style {
    border: 2px solid black;
}

#nav ul {
  float: right;
  padding: 20px;
  margin: 10px 0;
}

#nav li.nav-links {
  display: inline;
  font-size: 1.2em;
  padding: 0 20px;
  color: #5b04ff !important;
  letter-spacing: 1px;
}

footer {
  background-color: black;
}
