

#title {
	color: #04b6ff !important;
	font-size: 3.3em;
	text-align: center;
}

p {
	padding-bottom: 20px;
	text-align: left;
	color: #fff;
}

#sidebar {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: none;
}

#hidden {
	display: none;
}

//CSS styling for the infowindows that are presented in the Google Maps
#infowindow {
	background: #fff;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 35px;
	text-align: left;
	padding: 10px 10px 30px 10px;
	width: 200px;
	box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0  8px #000;
}

.input-large {
	line-height: 3em;
}


#search {
	border: 2px solid white;
}
