


h1#title {
	font-size: 3em;
	text-align: center;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
}

p {
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
}

#sidebar {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: none;
	color: #fff;
}

#hidden {
	display: none;
}

.vertical-line {
	border-right: 1px solid #333;
}

//CSS styling for the infowindows that are presented in the Google Maps
#infowindow {
	background: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: left;
	width: 200px;
}

.input-large {
	line-height: 3em;
}
