// Place all the styles related to the Startup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    table-layout:fixed;
}

.div-table-content {
  height:150px;
  overflow-y:auto;
}

.table-border {
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
  margin-bottom: 10%;
}

#add-startup-button {
  color: #5b04ff;
  margin: 50px 0;
}

th, td {
  font-size: 1.3em;
}




// #33334d
