// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.approve-investors {
  color: #000;
  font-family: 'Roboto', sans-serif !important;
}

.approve-startups {
  color: #000;
  font-family: 'Roboto', sans-serif !important;
}

.approve-users {
  color: #000;
  font-family: 'Roboto', sans-serif !important;
}

.admin-page-fields {
  color: white;
  font-family: 'Roboto', sans-serif !important;
}


// extra styles
